
.Successpay{
    background: #eee;
    height: 100vh;
}
.Successpay-head{
    font-weight: 500;
    display: block;
    width: 100%;
    height: 1rem;
    background: #fff;
    text-align: center;
    line-height: 1rem;
    font-size: .3rem;
    color: black;
    border-bottom: 1px solid #bbb;
}

.Successpay-main{
    height: 2rem;
    line-height: 2rem;
    width: 100%;
    background: #fff;
    text-align: center;
    font-size: .56rem;
    font-weight: 500;
    color: orangered;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin: .2rem 0;
}

.Successpay-list li{
    background: #fff;
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    border-bottom: 1px solid;
    padding: 0 .3rem;
    box-sizing: border-box;
}

.Successpay-list-right{
    float: right;
}

.Successpay-info{
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    text-align: center;
    margin: .3rem 0;
}

.Successpay-info-item{
    border: 1px dashed black;
    padding: .2rem;
}